.toolbar-tool {
    padding: 0.2rem 0.35rem;
    box-sizing: content-box;
    border-radius: var(--control-radius);
    border: 1px solid rgba(0,0,0,0);

    cursor: default;
    fill: var(--color-text-primary);
}

.toolbar-tool svg {
    width: 1.4rem;
}

.toolbar-tool:focus {
    outline: none;
}

.toolbar-tool:hover {
    background-color: var(--color-bg-input);
    border-color: var(--color-border-input);
}

.toolbar-tool--selected, .toolbar-tool--selected:hover {
    background-color: var(--color-bg-editor);
    border-color: var(--color-border-input);
}

.toolbar-tool--stroke {
    fill: none;
    stroke: var(--color-text-primary);
}