body {
    background-color: var(--color-bg-editor);
}

/*
   extra-small: 0px or larger
   small: 600px or larger
   medium: 960px or larger
   large: 1280px or larger
   xlarge: 1920px or larger
*/

.editor {
    font-family: "Lato", sans-serif;

    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-border-default);

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu-container { grid-area: 1 / 1 / 2 / 4; }
.optionbar-container { grid-area: 2 / 1 / 3 / 3; }
.toolbar-container { grid-area: 3 / 1 / 5 / 2; }
.canvas-container { grid-area: 3 / 2 / 4 / 3; }
.sidebar-container { grid-area: 2 / 3 / 4 / 4; }
.statusbar-container { grid-area: 4 / 2 / 5 / 4; }
.modal-background { grid-area: 1 / 1 / 5 / 4; }

.appbar-container {
    display: none;
}

@media (max-width: 960px)
{

    .editor {
        overflow: hidden;
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    }

    .appbar-container {
        display: block;
    }

    .menu-container { grid-area: 1 / 1 / 4 / 2; }
    .appbar-container { grid-area: 1 / 2 / 2 / 4; }
    .toolbar-container { grid-area: 2 / 2 / 3 / 3; }
    .canvas-container { grid-area: 2 / 3 / 3 / 4; }
    .statusbar-container { grid-area: 3 / 2 / 4 / 4; }
    .sidebar-container { grid-area: 1 / 4 / 4 / 5; }
}