.appbar-container {
    height: 48px;
    background-color: var(--color-bg-sidebar);
    border: 0 solid var(--color-border-default);
    border-bottom-width: 1px;
}

@media screen and (orientation:landscape) {
    .appbar-container {
        height: 40px;
    }
}

.appbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-primary);
    font-size: 1.3rem;
}