.modal-sign-input {
    padding: var(--spacing-compact) var(--spacing-medium);
    margin-bottom: 2px;
    background-color: var(--color-bg-input);
    border: 1px solid var(--color-border-input);
    border-radius: var(--control-radius);

    line-height: 1.8rem;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
}

.modal-sign-input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.modal-sign-input--errored {
    border-color: #ffe300;
}

.modal-sign-input-error {
    font-size: 0.9rem;
    margin: 4px 5px 7px;
    letter-spacing: 0.25px;
    color: #ffe300;
}